<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<div>
  <p>
    Ciao Mondo
  </p>
  <app-agenzie-list>
    <p>Agenzia 1</p>
  </app-agenzie-list>
  <app-agenzie-list>
    <p>Agenzia 1</p>
  </app-agenzie-list>
  <app-agenzie-list>
    <p>Agenzia 1</p>
  </app-agenzie-list>
  <app-agenzie-list>
    <p>Agenzia 1</p>
  </app-agenzie-list>
</div>
